################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tmp
*.txt
/Algorithms/Algorithms.UnitTests/bin/Debug
/Algorithms/Algorithms.UnitTests/obj/Debug
/Algorithms/packages
/Algorithms/Algorithms/obj/Debug
/Algorithms/Algorithms/obj/Debug
*.cs
